rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // For local testing, allow everything
      allow read, write: if true;
    }
  }
}
