<h2 style="color:#1e3a8a;margin:0 0 16px;font-size:22px;font-weight:700;">
  Email preferences updated, {{firstName}}
</h2>
<p style="color:#374151;line-height:1.7;margin:0 0 16px;font-size:15px;">
  Your CT Chickens notification email has been updated to:
</p>
<p style="color:#1e3a8a;font-weight:700;font-size:15px;margin:0 0 24px;">
  {{localEmail}}
</p>
<p style="color:#374151;line-height:1.7;margin:0 0 16px;font-size:15px;">
  Future CT Chickens notifications will be sent to this address.
</p>
